import React, { useState } from 'react';

const {{pascalCase name}} = (props) => {
    const [count, setCount] = useState(0);
    return (
        <div classname="{{pascalCase name}}">
            
        </div>
    );
};

export default {{pascalCase name}};